@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.dashboard {
  h3 {
    font-family: $header;
    font-weight: 500;
    margin: 0px;
  }
}

.dashboard-header {
  background: url('../../../assets/public/waves.svg') no-repeat center center;
  background-size: cover;
  background-position: center;
  height: 260px;
  padding: 2rem;
  border-radius: 0 0 20px 20px;
  margin-bottom: 1rem;
  h1 {
    color: white;
    font-family: $header;
    font-weight: 500;
    margin: 0px;
  }

}

.dashboard-glucose-level-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.dashboard-glucose-level {
  background-color: white;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid $gs-yellow;
  h2 {
    color: black;
    font-family: $body;
    font-weight: 500;
    font-size: 3rem;
    margin: 0px;
  }
  p {
    color: black;
    font-family: $body;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0px;
  }
}

.dashboard-metrics-container {
  margin: 1rem;
  overflow: hidden;
  p {
    font-family: $body;
    font-weight: 300;
    font-size: 1rem;
    margin: 2px;
  }
}

.dashboard-graph-info {
  display: flex;
  justify-content: space-between;
}

.dashboard-metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
  grid-auto-rows: 1fr; /* Ensures that all rows have the same height */
  margin: 2rem 0;

  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%; /* Creates an invisible square */
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

.dashboard-metric-card {
  background-color: black;
  padding: 1rem;
  border-radius: 10px;
  position: relative;

  h4 {
    font-family: $body;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    color: $gs-yellow;
  }

  p {
    font-family: $body;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;
    color: white;
  }

  a {
    font-size: 1.6rem;
    margin: 0;
    color: white;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
