@import '../mixins';
@import '../variables';

.home {
  width: 100vw;
  height: 100vh;
  background-color: $gs-pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  svg {
    width: 100px;
    height: 100px;
    color: white;
  }
}

.home-title {
  font-family: $header;
  font-size: 2.4rem;
  color: white;
  font-weight: 400;
  h1 {
    margin: 0;

  }
}

.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
