@import '../variables';
@import '../mixins';

.log-carbs {
  padding: 20px;

  .log-carbs-header {
    display: flex;
    align-items: center;
    margin-top: 4rem;

    h1 {
      font-family: $header;
      font-size: 1.5rem;
      font-weight: 400;
      color: black
    }
  }

}
